<!-- Swiper Container -->
<swiper-container    [slidesPerView]="4" [spaceBetween]="10" [scrollbar]="true" [loop]="true"
  class="trailers p-4 relative bg-gray-900">

  <swiper-slide *ngFor="let show of shows" 
  
    class="relative w-80 min-w-80 rounded-lg overflow-hidden shadow-lg transition-transform duration-500 hover:scale-105 hover:shadow-xl">

    <!-- Movie Image -->
    <div class="relative group " >
      @if (show.backdrop_path) { <img [src]="'https://image.tmdb.org/t/p/w780/'+show.backdrop_path" alt="Movie Image"
      class="w-full h-56 object-cover rounded-lg group-hover:opacity-80 transition-opacity duration-300" />}
      @else {<img src="assets/images/2922280_27002.jpg" alt="Movie Image"
      class="w-full h-56 object-cover rounded-lg group-hover:opacity-80 transition-opacity duration-300" />}
     
      <div
        class="absolute inset-0 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <i (click)="openModal(show)"
          class="fa-solid fa-play text-4xl text-white cursor-pointer hover:text-gray-300"></i>
      </div>
    </div>

    <!-- Movie Details -->
    <div class="p-4  rounded-b-lg">
      <h3 class="text-lg font-bold text-white">{{ show.title || show.name }}</h3>
      <p class="text-sm text-gray-400">{{ show.release_date || show.first_air_date }}</p>
    </div>
  </swiper-slide>

</swiper-container>

<!-- Modal Component -->
<app-show-modal *ngIf="selectedMovie" [youtubeUrl]="selectedMovieUrl" [movie]="selectedMovie" (close)="closeModal()">
</app-show-modal>